h1, h2, h3, p, a, li {
  font-family: Helvetica Neue, Helvetica, Arial;
  color: #999999;
  text-decoration: none;
}
li, p, span { font-size: 14px; }

.container {
  margin: 8% 1%;
  display: inline-flex;
}

nav { 
  display: inline-block;
  vertical-align: middle;
  width: 230px;
  margin-right: 40px;
}
nav
  li.red-line {
    border-top: 1px solid #FF0099;
  }
  .mini_dropdown { display: none }
  h1 { font-size: 30px; }
  ul {  
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }

  li a {
    line-height: 20px;
  }
  li a:hover {
    color: #FF9999;
  }

.bio.content {
  width: 720px;
}

.education { margin-top: 0; }

.copyright {
  font-size: 11px;
  text-align: center;
}

img.lazy {
  margin: auto 8px;
}
.pink {
  color: #FF0099;
}
.hidden {display: none;}
.show {display: block;}