h1, h2, h3, p, a, li {
  font-family: Helvetica Neue, Helvetica, Arial;
}
  
.homepage

  nav { 
    width: 260px;
    color: #999999;
    display: inline-block;
  }
  nav
    h1 { font-size: 30px; }
    ul {
      list-style-type: none;
      padding-left: 15px;
    }
    li a {
      text-decoration: none;
      color: #999999;
      line-height: 20px;
      letter-spacing: 1px;
    }
    li a:hover {
      color: #FF9999;
    }

  .subhead
    img { width: 145px; }
    span { font-size: 14px; }

  .image-section {
    display: inline-block;
  }